<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136664747909-ghcrtcjtbcumqab627rtuucv5vnvi9o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136664747909-ghcrtcjtbcumqab627rtuucv5vnvi9o2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>136664747909-8cb52sjoktig35e78llbg7l00tp8ai1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlg83nGyqRDNOktgIl0OTbTsdH73OxUeo</string>
	<key>GCM_SENDER_ID</key>
	<string>136664747909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diyi1019.mn</string>
	<key>PROJECT_ID</key>
	<string>husky-65046</string>
	<key>STORAGE_BUCKET</key>
	<string>husky-65046.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136664747909:ios:00d17af7466aa49f9c3eec</string>
</dict>
</plist>